# Archivos de Log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpetas de dependencias
node_modules/
frontend/node_modules/
blockchain/node_modules/

# Carpetas de build y distribución
dist/
build/

# Archivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
blockchain/.env # Mantener por si hay uno específico

# Archivos generados por Hardhat (en cualquier parte del proyecto)
artifacts/
cache/
typechain-types/
ignition/deployments/
ignition/journal/

# Archivos de cobertura de tests
coverage/
coverage.json

# Archivos de editor
.vscode/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de notas (opcional, si no quieres que estén en el repo)
Datos.txt
Utils.txt